#### C++
# Compiled Object files
*.slo
*.lo
*.o
*.os
*.mexa64

### Python binaries
*.pyc
*.pyo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#unused submodule
.gitmodules

#### Java
*.class

#### Python
*.pyc

#### Eclipse and so on
.project
.cproject
.pydevproject
.classpath
.idea

# Scons auxiliary files
.sconsign.dblite

# Other
gmon.out
*~
\#*
.\#*
.directory
.settings

# ignore everything in src folder
/build/*
/src/*
# except xmipp folder
!/src/xmipp/

/src/xmipp/bin
/src/xmipp/lib
/src/xmipp/models/*
/src/xmipp/tests/data
xmipp.conf

# Ignore version file
.devel_version
/src/xmipp/Debug/
/src/xmipp/applications/programs/version
